.users {
    &__form {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        column-gap: 24px;
    }

    &__checkboxs {
        flex: 1 0 100%;
    }

    &__input {
        flex-grow: 1;
    }
}